button {
  cursor: pointer;
}

.container {
  max-width: 400px;
  height: 600px;
  /* width가 주어진 상태에서 좌우 정렬 */
  margin-left: auto;
  margin-right: auto;
  margin: 6rem;
  overflow: hidden;
  background-color: var(--color-bg);
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.input {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-bg-main);
  padding: 1rem;
}

.input-list {
  width: 300px;
  padding: 0.5rem;
}

.items {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  margin-left: 3rem;
}

.item {
  margin-left: 1rem;
  color: white;
}

.item-delete {
  margin-left: 1rem;
  color: darksalmon;
}

.darkModeToggle {
  margin: 1rem;
  color: coral;
  border: none;
  background-color: transparent;
}

.taps > input {
  border: none;
  background-color: transparent;
  color: coral;
  font-size: 16px;
  padding: 1rem;
  margin-top: 0.3rem;
}
